<form>
  <div class="form-group">
    <label for="uname">User Name</label>
    <input type="text" class="form-control" [(ngModel)]="registration.username" id="uname" name="uname">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" [(ngModel)]="registration.email" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" [(ngModel)]="registration.password" id="pwd" name="pwd">
  </div>
  <div class="form-group">
    <label for="pwd2">Conform Password:</label>
    <input type="password" class="form-control" [(ngModel)]="registration.password2" id="pwd2" name="pwd2">
  </div>
  <div class="btn-group">
  <button type="submit" class="btn btn-primary" (click)="getmeregistered()">Register Me</button>
  <button  class="btn btn-danger" (click)="childModal.hide()">Changed Mind</button>
  </div>
</form>