
<form>
  <div class="form-group">
    <label for="name">Art name</label>
      <input type="text" [(ngModel)]="art.Art_name" class="form-control" name="art.Art_name"><br/>
  </div>
  <div class="form-group">
    <label for="Genre">Genre:</label>
    <input type="Genre" [(ngModel)]="art.Genre" class="form-control" name="art.Genre">
  </div>
  <div class="form-group">
    <label for="details">Description:</label>
    <textarea type="details" [(ngModel)]="art.Art_details" class="form-control" name="art.Art_details"></textarea>
  </div>
  <div class="btn-group">
    <button type="submit" class="btn btn-primary" (click)="getmelogged()">Submit</button>
    <button type="submit" class="btn btn-danger" [routerLink]="['/detail']">Changed Mind</button>
  </div>
  
</form>
   