 <form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="login.email" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" [(ngModel)]="login.password" class="form-control" name="pwd">
  </div>
  
  <div class="btn-group">
    <button type="submit" class="btn btn-primary" (click)="getmelogged()">Login</button>
    <button type="submit" class="btn btn-danger" (click)="staticModal.hide()">Changed Mind</button>
  </div>
  
</form>