 <form [formGroup]="form">
  <div class="form-group">
    <label for="email" required>Email address:</label>
    <input type="email" required [(ngModel)]="login.email" class="form-control" formControlName="email">
    
  </div>
  <div class="form-group">
    <label for="password" required>Password:</label>
    <input type="password" required [(ngModel)]="login.password" class="form-control" formControlName="password">
   
  </div>
  
  <div class="btn-group">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="getmelogged()">Login</button>
    <button class="btn" (click)="reset()">Reset</button>
  </div>
  
</form>