
<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
          <div class="navbar-header">
            <a class='navbar-brand'>{{pageTitle}}</a>
          </div>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/welcome']">Home</a></li>
                <li dropdown>
                  <a dropdownToggle class="dropdown-toggle">
                    New Feeds
                  </a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    Geners
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Abstact</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Oil Painting</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Photography</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Cartoons</a></li>
                    
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                  </ul>
                </li>
                <li dropdown>
                  <a dropdownToggle class="dropdown-toggle">
                    Community
                  </a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    
                    <li role="menuitem"><a class="dropdown-item" href="#">Groups</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Artists</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Recommendations</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Downloads</a>
                    </li>
                  </ul>
                </li> 
              </ul>
              <ul class="nav navbar-nav navbar-right">
                
                <li *ngIf="!loggedIn"><a type="button"  (click)="openModal(login)" (loggedInSuccess)="handleLoginSuccess()">Login</a></li>
                <li dropdown *ngIf="loggedIn">
                <li dropdown *ngIf="loggedIn">
                  <a dropdownToggle class="dropdown-toggle">
                    Hello User!!! 
                  </a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    
                    <li role="menuitem"><a class="dropdown-item"  (click)="logout()">Groups</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="doblock()">Block Account</a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/changepwd']">Change Password</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="doLogOut()">Logout</a>
                    </li>
                  </ul>
                </li>
            </ul>
          </div>
      </nav>
</div>
  <div class='container'>
            
      <router-outlet></router-outlet>  
     </div>


 <a type="button"  (click)="openModal(template)" (loggedInSuccess)="handleLoginSuccess()">Login</a>
<template #login>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
  <div class="modal-body">
    <login-modal></login-modal>
    <div>
    <p> New user? click <a type="button"  (click)="openModal2(register)">Here</a> to get register</p>
  </div>
    <!--h4 style="color:red" *ngIf="!loginStatus">Wrong Credentials! try 'user' as username and 'pass' as password.</h4-->
  </div>
   
</template>



<template #register>
  <div class="modal-header ">
    <h4 class="modal-title pull-left">Register Here</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
       
  </div>
  <div class="modal-body">
        <registration-modal></registration-modal>
  </div>
    
</template>